* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
}

/*body {
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}*/

/*p {
    font-size: 14px;
}*/

body {
    background-color: #f8e1f4;
}

h1 {
    font-family: 'Fraunces', serif;
    color: var(--very-dark-blue);
    padding-bottom: 10px;
}

button {
    background-color: var(--dark-cyan);
    margin: 10px;
    padding: 10px 40px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    color: #fff;
    display: block;
}

img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    /*border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;*/
}

.card__main {
    height: 60%;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 8px;
    background-color: var(--cream);
    box-shadow: 0 0 2px 2px lightgray;
}

.price {
    color: var(--dark-cyan);
    display: inline;
}

.info {
    /*padding: 15px;*/
    width: 50%;
}

.gray {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

.bold {
    font-weight: 700;
    padding-bottom: 10px;
}

#strikethrough {
    display: inline;
    margin-left: 20px;
    font-weight: 500;
}

#perfume {
    padding-bottom: 15px;
    text-transform: uppercase;
}
